.hide {
  display: none !important;
}

.button {
  transition: 0.3s;
}

.button:hover {
  filter: brightness(90%);
}

.button:active {
  filter: brightness(80%);
}

.container {
  padding: 1em;
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
}

#dropdown-content {
  display: none;
}

#dropdown-content div:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover #dropdown-content {display: block;}

.greyedOut {
  background-color: #ccc;
}
